.layui-nav-child a {
    margin-left: 5px;
}
iframe {
    width: 100%;
    height: 100%;
}
/* .userinfo {
height: 40px;
width: 40px;
background-color: #009688;
border-radius: 50%;
} */
.userinfo {
    height: 60px;
    line-height: 60px;
    margin-left: 40px;
}
.text-a {
    display: block;
    height: 40px;
    width: 40px;
    background-color: #009688;
    position: absolute;
    top: 10px;
    left: -28px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
}
.userinfo>.text-a {
    left: 32px;
}
.welcome {
    margin-left: 40px;
}